<h1>Update Hero</h1>
<div *ngIf="hero">
  <mat-card class="card">
    <mat-card-content>
      <mat-form-field>
        <mat-label>Hero id</mat-label>
        <input matInput [(ngModel)]="hero.id" />
      </mat-form-field>
    </mat-card-content>
    <mat-card-content flexLayout="column">
      <mat-form-field>
        <mat-label>Hero Name</mat-label>
        <input matInput [(ngModel)]="hero.name" />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="goBack()" class="back">Cancel</button>
      <button mat-raised-button color="warn" (click)="save()" class="save">
        Save
      </button>
    </mat-card-actions>
  </mat-card>
</div>
