.card {
  margin-top: 20px;
  width: 400px ;
  border-radius: 8px;
  padding: 20px;

  .mat-card-title {
    font-size: 30px;
    line-height: 40px;
  }
  .mat-card-form-field {
    margin: 8px 0;
    width: 100%;
  }
}
.save {
margin-left: 10px;
margin-bottom: 5px;
margin-top: 0;
}
.back {
margin-left: 10px;
margin-bottom: 5px;
margin-top: 0;
}
