<h1>New Hero</h1>
<form class="form" [formGroup]="form">
  <mat-card class="card">
    <mat-card-content>
      <div fxLayout="column">
        <mat-form-field>
          <mat-label>Hero name</mat-label>
          <input
            matInput
            placeholder="Insert Hero name"
            value=""
            formControlName="name"
            #heroName
          />
        </mat-form-field>

      </div>

      <!-- Save and Go Back buttons -->

      <div>
        <button
          mat-raised-button
          (click)="goBack()"
          aria-label="Return to heroes list"
        >
          Cancel
        </button>
        <button
          class="addButton"
          mat-raised-button
          color="primary"
          (click)="addHero()"
          aria-label="Create a new hero"
        >
          Add Hero
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</form>
