<h2>Heroes</h2>
<!-- search and new hero button -->

<div class="container">
  <div class="newHeroButton">
    <button
      mat-raised-button
      color="primary"
      routerLink="/new"
      class="addButton"
      aria-label="Create a new hero"
    >
      New Hero
    </button>
  </div>

  <div class="searchInput">
    <mat-form-field>
      <input
        matInput
        placeholder="Search your hero"
        autocomplete="off"
        #filterName

      />
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      (click)="filterTable()"
      class="searchButton"
    >Search
      <mat-icon>search</mat-icon>
    </button>
  </div>
</div>

<!-- table -->
<div class="table">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <!-- hero Id Column -->
    <ng-container matColumnDef="idHero">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Hero id
      </mat-header-cell>
      <mat-cell *matCellDef="let hero"> {{ hero.idHero }} </mat-cell>
    </ng-container>

    <!-- hero Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Hero name
      </mat-header-cell>
      <mat-cell *matCellDef="let hero"> {{ hero.name }} </mat-cell>
    </ng-container>

    <!-- Buttons Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let hero">
        <button
          mat-icon-button
          [routerLink]="['/heroes', hero.idHero]"
          aria-label="Edit Hero"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          title="delete hero"
          mat-icon-button
          class="delete"
          (click)="deleteHero(hero.idHero)"
          aria-label="Delete Hero"
        >
          <mat-icon color="primary">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- Header and Row Declarations -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      class="mat-row"
      *matRowDef="let hero; columns: displayedColumns"
    ></mat-row>
  </mat-table>

  <!-- paginator -->
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20, 25, 50]"
    showFirstLastButtons
    (page)="listHeroes($event)"
  ></mat-paginator>
</div>
