.mat-row:hover {
  background: whitesmoke;
}

h1 {
  margin-left: 20px;
  margin-bottom: 30px;
}

.container {
  position: relative;
  padding: 2px;

  .newHeroButton {
    right: 0;
    position: absolute;
    padding: 20px;
  }
  }
  .searchInput {
    left: 0;


  }
.list {
  margin-top: 20px;
}
