<h1>Ad Carries:</h1>

<mat-table [dataSource]="heroes">
  <!-- User name Definition -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> ID</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.id }} </mat-cell>
  </ng-container>

  <!-- Age Definition -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.name }} </mat-cell>
  </ng-container>

  <!-- Header and Row Declarations -->
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
    class="mat-row"
    *matRowDef="let row; columns: displayedColumns"
    [routerLink]="['/heroes', row.name]"
  ></mat-row>
</mat-table>
