.mat-row:hover {
  background: whitesmoke;
}

h1 {
  margin-left: 20px;
  margin-bottom: 30px;
}

.addbutton {
  position: relative;
  padding: 30px;
  margin-bottom: 30px;
}
.newHeroButton {
  right: 0;
  position:absolute;

}

.list {
  margin-top: 20px;
}
